<div class="parent" >
    <div class="row mt-3">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="border">
                <h3 class="heading text-center">In da Moment</h3>
                <!-- form -->
                <form [formGroup]="registerform" (submit)="register()" class="mt-2 p-5">
                    <div class="form-floating mb-3">
                        <input name="username" formControlName="uname" type="text" class="form-control" id="username" placeholder="Username">
                        <label for="username">Username</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input name="password" formControlName="pass" type="password" class="form-control" id="password" placeholder="Password">
                        <label for="password">Password</label>
                      </div>
                      <div class="form-floating">
                        <input name="confirmpasssword" formControlName="confpass" type="password" class="form-control" id="confirmpasssword" placeholder="confirmpasssword">
                        <label for="confirmpasssword">Confirm Password</label>
                      </div>
                      <!-- terms and condition -->
                      <p class="terms_condition mt-3">By signing up, you agree to our Terms , Privacy Policy and Cookies Policy .
                      </p>
                      <!-- button -->
                      <button type="submit" class="btn btn-primary mt-2 w-100 rounded-3 fs-5">Sign up</button>
                </form>
            </div>
            <!-- sec 2 -->
            <div class="border p-3 text-center mt-3">
                <p class="login_para">Dont have an account? <a routerLink="" class="login">Log in</a></p>
            </div>
        </div>
        <!-- footer -->
        <footer class="d-flex justify-content-center mt-5 mb-5">
            <h6 class="mt-5"> &copy; 2023 In da Moment from Gayak</h6>
        </footer>
        <div class="col-lg-4"></div>
    </div>
</div>
